{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>ZEALAB - Portfolio</title>
        <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
        <link rel="stylesheet" href="{% static "css/tya.css" %}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="homepage-content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <footer>
        <div class="row">
            <div class="col s12">
                <div class="homepage-footer">
                    <p>
                        Source code for this site is available on <a href="">GitHub</a>. Have a comment, or want to get in touch? Email me at <a href="mailto:someone@yoursite.com">alzea.arafat@gmail.com</a>, or find me on <a href="#">Facebook</a>, <a href="#">GitHub</a>, and <a href="#">Instagram</a>.
                    </p>
                    <p>
                        <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangosite80x15.gif" border="0" alt="A Django site." title="A Django site." /></a>
                        <img src="{% static "img/python_80x15.png" %}"/>
                        <img src="{% static "img/postgresql_powered.png" %}"/>
                    </p>
                </div> 
            </div> 
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{% static "js/materialize.min.js" %}"></script>
    </footer>
</html>