{% extends "portfolio/base.html" %}
{% block content %}
<div class="homepage-header">
    <div class="homepage-header-content">
        <h1 id="homepage-header-h1">#zealab</h1>
        <p id="homepage-header-p">
            Django and WordPress developer. Currently working at Yogyakarta based startup company called <a href="https://tonjoo.com">Tonjoo Corp.</a>
        </p>
        <div class="homepage-meta-links">
            <a href="#">Portfolios</a> &middot; <a href="#">Github</a> &middot; <a href="#">Facebook</a>
        </div>
    </div>
</div>
<div class="homepage-wrapper">
        <div class="row">
            <div class="col s12">                   
                <h2>Portfolios</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for project in projects %}
            <div class="col s12 m4 l4">
                <div class="project-list-grid">
                    <img src="/portfolio/media/{{ project.screenshot }}"/>
                    <p><a href="{% url "project_detail" pk=project.pk %}">{{ project.title }}</p></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}