{% extends "portfolio/base.html" %}

{% block content %}
<div class="singlepage-header">
    <div class="singlepage-header-content">
        <h1 id="singlepage-header-h1">{{ project.title }}</h1>
        {% if project.pub_date %}
        <div class="singlepage-date">
            {{ project.pub_date }}
        </div>
        {% endif %}
    </div>
</div>            
<div class="single-project-content">
    <div class="container">
    	<div class="row">
    		<div class="col s12 m6 l6">
    		    <div class="single-project-screenshot">
    		        <p><img src="/portfolio/media/{{ project.screenshot }}"/></p>
        		</div>
        	</div>
            <div class="col s12 m6 l6">
                <p><strong>Project Description:</strong></p>
                <p>{{ project.content|safe }}</p>
                <p><strong>Technology Stack:</strong> {{ project.technology }}</p>
                <p><strong>Project Duration:</strong> {{ project.duration }}</p>
                <p><strong>Project Budget:</strong> {{ project.budget }}</p>
                <a href="{{ project.url }}" class="waves-effect waves-light red btn"><i class="material-icons left">send</i>Visit Website</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}