/*GLOBAL*/

body {
	font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif !important;
}


/*HEADER*/
.homepage-header {
	width: 100%;
	min-height: 100vh;
	background-color: #f39c12;
	text-align: center;
	vertical-align: middle;
	position: relative;
	background-image: url('../img/bg_teaser.svg');
	background-repeat: no-repeat;
    background-position: center;
}

.homepage-header-content {
	padding: 300px 0px 300px 0px;
	max-width: calc(700px + 2rem);
	margin: 0px auto;
	position: relative;
}

.homepage-header-content a {
	color: #FFFFFF;
}

h1#homepage-header-h1 {
	color: #FFFFFF;
	font-weight: bold;
	margin: 0px !important;
	text-align: left !important;
}

p#homepage-header-p {
	color: #FFEC9C;
	padding: 20px 0px 20px 0px;
	font-size: 1.3em;
	text-align: left !important;
}

p#homepage-header-p a {
	color: #FFFFFF;
	text-decoration: none;
}

p#homepage-header-p a:hover {
	color: #ecf0f1;
}

.homepage-meta-links {
	text-align: left;
	font-size: 1em;
	color: #ecf0f1;
}

.homepage-meta-links a {
	color: #FFFFFF !important;
	text-decoration: none;
}

.homepage-meta-links a:hover {
	color: #ecf0f1;
}

/*INDEX CONTENT*/

.homepage-wrapper {
	max-width: calc(750px + 2rem);
	margin: 0px auto;
	position: relative;
	padding: 1rem;
}

/*.homepage-content {
	max-width: calc(740px + 2rem);
	margin: 0px auto;
	position: relative;
	padding: 1rem;
}*/

.homepage-post-title-link a {
	text-decoration: none;
	color: #3498db;
}

.homepage-post-title-link a:hover {
	color: #f39c12;
}

.homepage-post-title-link p {
	font-size: 1em;
	color: #616161;
}

h3#homepage-post-title-header {
	font-size: 1.4em;
}


/*SINGLE POST*/

.singlepage-header {
	width: 100%;
	min-height: 45vh;
	background-color: #f39c12;
	vertical-align: middle;
	text-align: left;
	position: relative;
	background-repeat: no-repeat;
    background-position: center;
}

.singlepage-header-content {
	padding: 100px 0px 100px 0px;
	max-width: calc(700px + 2rem);
	margin: 0px auto;
	position: relative;
}

h1#singlepage-header-h1 {
	color: #FFFFFF;
	font-weight: bold;
	margin: 0px !important;
	text-align: left !important;
	font-size: 3em;
}

p#singlepage-header-p {
	color: #FFEC9C;
	padding: 20px 0px 20px 0px;
	font-size: 1.2em;
	text-align: left !important;
}

p#singlepage-header-p a {
	color: #FFFFFF;
	text-decoration: none;
}

p#singlepage-header-p a:hover {
	color: #ecf0f1;
}

.singlepage-date {
	color: #FFEC9C;
	font-size: 1em;
}

.singlepage-date a {
	color: #FFFFFF;
	text-decoration: none;
}

.singlepage-date a:hover {
	color: #ecf0f1;
}

.post {
	padding: 100px 0px 100px 0px;
	max-width: calc(700px + 2rem);
	margin: 0px auto;
	position: relative;
}

.post p {
	color: #616161;
	line-height: 2em;
	font-size: 1em;
}

.post img {
	text-align: center;
	border-radius: 5px;
	margin: 10px 0px 10px 0px;
}


/*PORTFOLIO*/

.project-list-grid {
	text-align: center;
}

.project-list-grid img {
	width: 100%;
	height: auto;
}

/*SINGLE PROJECT*/

.single-project-content {
	padding: 50px 0px 0px 0px;
}

.single-project-content p {
	color: #616161;
	line-height: 2em;
	font-weight: lighter;
}

.single-project-screenshot img {
	width: 100%;
	height: auto;
}

/*FOOTER*/

.homepage-footer {
	text-align: left;
	max-width: calc(700px + 2rem);
	margin: 0px auto;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
}

.homepage-footer p {
	font-size: 1em;
	color: #9E9E9E;
}

.homepage-footer a {
	color: #3498db;
}

.homepage-footer a:hover {
	text-decoration: none;
	color: #2d8bc9;
}