{% extends "blog/base.html" %}
{% block content %}
<div class="homepage-header">
    <div class="homepage-header-content">
        <h1 id="homepage-header-h1"><a href="http://zealab.com">#zealab</a></h1>
        <p id="homepage-header-p">
            Django and WordPress developer. Currently working at Yogyakarta based startup company called <a href="https://tonjoo.com">Tonjoo Corp.</a>
        </p>
        <div class="homepage-meta-links">
            <a href="/portfolio">Portfolios</a> &middot; <a href="https://github.com/alzearafat">Github</a> &middot; <a href="https://www.facebook.com/alzea.arafat">Facebook</a>
        </div>
    </div>
</div>
<div class="homepage-wrapper">
    <div class="row">
        <div class="col s12">
            <h2>Writings</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {% for post in posts %}
            <div class="homepage-post-title-link">
                <h3 id="homepage-post-title-header"><a href="{% url "post_detail" pk=post.pk %}">{{ post.title }}</a></h3>
                <p>{{ post.description|linebreaks }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}