{% extends "blog/base.html" %}

{% block content %}
<div class="singlepage-header">
    <div class="singlepage-header-content">
        <h1 id="singlepage-header-h1">{{ post.title }}</h1>
        <p id="singlepage-header-p">{{ post.description }}</p>
        {% if post.pub_date %}
        <div class="singlepage-date">
        	<a href="#">{{ post.category }}</a> - {{ post.pub_date }}
        </div>
        {% endif %}
    </div>
</div>
<div class="container">
	<div class="row">
		<div class="col s12">		    
            <div class="post">
		        <p>{{ post.content|safe }}</p>
    		</div>
    	</div>
    </div>
</div>
{% endblock %}